.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
*.class
*.pyc
*.pyo
spec/dummy/log/development.log
spec/dummy/log/test.log
spec/dummy/db/schema.rb
spec/dummy/db/development.sqlite3
spec/dummy/db/test.sqlite3
